{% extends 'base.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
    <div class="container">
    <h1>Edit Reclamation</h1>

    {% for message in app.flashes('info') %}
        <div class="alert alert-danger"
             style="width: 100%;text-align: center;font-size: 30px;font-weight: bolder;">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('reclamation/_formReponse.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reclamation_index') }}" class="btn btn-sm btn-info">back to list</a>

    {{ include('reclamation/_delete_form.html.twig') }}
    </div>
{% endblock %}
