{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
    <div class="container">
    <h1>Nouvelle Reclamation</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-danger"
             style="width: 100%;text-align: center;font-size: 30px;font-weight: bolder;">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('reclamation_index') }}" class="btn btn-sm btn-info">back to list</a>
    </div>
{% endblock %}
